audit=false
fund=false
frozen-lockfile=true
@opetushallitus:registry=https://npm.pkg.github.com
node-linker=hoisted # Ilman tätä sovellus ei löydä riippuvuuksia kun asennetaan ympäristöön. Johtuu ilmeisesti siitä, että oletuksena pnpm asentaa riippuvuudet globaalisti ja linkkaa node_modules-kansiosta sinne.
